<div class="contacts">
    <div class="contacts__content">
        <h2>Контакты</h2>
        <div class="contacts__item">
            <div class="contacts__item-head">Отдел продаж</div>
            <p>
                <a href="tel:+7 495 191 71 98">+7 495 191 71 98</a>
            </p>
            <p>
                <a href="mailto:info@nist.pro">info@nist.pro</a>
            </p>
        </div>
        <div class="contacts__item">
            <div class="contacts__item-head">Сервисный центр</div>
            <p>
                <a href="tel:+7 925 019 46 36">+7 925 019 46 36</a>
            </p>
            <p>
                <a href="mailto:service@nist.pro">service@nist.pro</a>
            </p>
        </div>
        <div class="contacts__item">
            <div class="contacts__item-head">9.00-18.00</div>
        </div>
    </div>

    <div class="contacts__map" id="contact-map"></div>
</div>