<div class="faq">
    <h3 class="faq__title">ВОПРОС-ОТВЕТ</h3>
    <div class="faq__subhead">
        Ответы на часто задаваемые вопросы по лизингу оборудования.<br>
Здесь собраны наиболее частые вопросы от наших клиентов и ответы на них:
    </div>
    <div class="faq__item">
        <div class="faq__head">
            <span>Вопрос о лизинге номер один?</span>
            <svg class="icon" width="32" height="23" viewBox="0 0 32 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.375 20L16.4364 4L29.4978 20" stroke="currentColor" stroke-width="5" stroke-linecap="round"/>
            </svg>
        </div>
        <div class="faq__content">
            Краткий ответ на вопрос с описанием. Ответы на часто задаваемые вопросы по лизингу оборудования.
        </div>
    </div>

    <div class="faq__item">
        <div class="faq__head">
            <span>Вопрос о лизинге номер один?</span>
            <svg class="icon" width="32" height="23" viewBox="0 0 32 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.375 20L16.4364 4L29.4978 20" stroke="currentColor" stroke-width="5" stroke-linecap="round"/>
            </svg>
        </div>
        <div class="faq__content">
            Краткий ответ на вопрос с описанием. Ответы на часто задаваемые вопросы по лизингу оборудования.
        </div>
    </div>

    <div class="faq__item">
        <div class="faq__head">
            <span>Вопрос о лизинге номер один?</span>
            <svg class="icon" width="32" height="23" viewBox="0 0 32 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.375 20L16.4364 4L29.4978 20" stroke="currentColor" stroke-width="5" stroke-linecap="round"/>
            </svg>
        </div>
        <div class="faq__content">
            Краткий ответ на вопрос с описанием. Ответы на часто задаваемые вопросы по лизингу оборудования.
        </div>
    </div>

    <div class="faq__item">
        <div class="faq__head">
            <span>Вопрос о лизинге номер один?</span>
            <svg class="icon" width="32" height="23" viewBox="0 0 32 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.375 20L16.4364 4L29.4978 20" stroke="currentColor" stroke-width="5" stroke-linecap="round"/>
            </svg>
        </div>
        <div class="faq__content">
            Краткий ответ на вопрос с описанием. Ответы на часто задаваемые вопросы по лизингу оборудования.
        </div>
    </div>
</div>