<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__copy">
                <span>© ООО «НИСТ» © 2010-2022</span><br>
                Москва, ул. Вереcаева, 16
            </div>

            <div class="footer__contacts">
                <a href="/" class="footer-logo">
                    <img src="img/logo-footer.svg" alt="logo" width="65" height="47">
                </a>
                <div class="footer__contacts-head">Контакты:</div>
                <div class="footer__contacts-list">
                    <div class="footer__contacts-item">
                        Отдел продаж
                        <a href="tel:+7 495 191 71 98">+7 495 191 71 98</a>
                        <a href="mailto:info@nist.pro">info@nist.pro</a>
                    </div>
                    <div class="footer__contacts-item">
                        Сервисный центр
                        <a href="tel:+7 925 019 46 36">+7 925 019 46 36</a>
                        <a href="mailto:service@nist.pro">service@nist.pro</a>
                    </div>
                </div>
            </div>

            <div class="footer__logo">
                <a href="/">
                    <img src="img/logo-footer.svg" alt="logo" width="65" height="47">
                </a>
                <a href="#">Политика конфиденциальности</a>
                <a href="#">Политика обработки персональных данных</a>
            </div>
        </div>
    </div>
</footer>
