.footer {
    background-color: #000;
    color: #fff;
    padding: 45px 0 50px;

    a {
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include _768 {
            align-items: baseline;
            flex-direction: column;
        }
    }

    &__copy {
        @include _768 {
            margin-bottom: 16px;
        }

        span {
            display: inline-block;
            margin-bottom: 5px;
            font-size: 20px;
            font-weight: 500;
        }
    }

    &__contacts {

        &-head {
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 7px;
            @include _768 {
                font-weight: 500;
            }
        }

        &-list {
            display: flex;
            gap: 45px;
            max-width: 375px;
            justify-content: space-between;
            @include _1260 {
                flex-direction: column;
                gap: 18px;
            }
            @include _768 {
                margin-bottom: 32px;
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            font-size: 18px;
            line-height: 24px;

            a:first-of-type {
                @include _768 {
                    font-size: 24px;
                    line-height: 29px;
                }
            }
        }
    }

    &__logo {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include _768 {
            align-items: flex-start;
        }

        img {
            margin-bottom: 16px;
            @include _768 {
                display: none;
            }
        }

        a {
            font-size: 14px;
            line-height: 17px;
            text-decoration: underline;
            margin-bottom: 5px;
        }
    }
}

.footer-logo {
    display: none;
    @include _768 {
        display: block;
        margin-bottom: 24px;
    }
}