.header {
    background-color: #000;
    color: #fff;
    height: 90px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    @include _1160 {
        background-color: transparent;
        height: auto;
        padding: 30px 0 0;
        position: absolute;
    }

    .logo {
        margin-right: 30px;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include _1160 {
            justify-content: flex-end;
            opacity: .85;
        }
    }

    &__nav {
        @include _1160 {
            display: none;
        }

        ul {
            padding: 0;
            list-style: none;
            display: flex;
            margin-bottom: 0;

            li {
                margin-right: 26px;
                line-height: 90px;

                &.active > a {
                    color: $color-primary;
                    cursor: default;
                }
            }
        }

        a {
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            text-decoration: none;
            transition: color .15s ease;

            &:hover {
                color: $color-primary;
            }
        }
    }

    &__phone {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        transition: color .15s ease;
        @include _1160 {
            display: none;
        }

        &:hover {
            color: $color-primary;
        }
    }

    &__mobile {
        display: none;
        @include _1160 {
            display: block;
            color: #ea4033;
            font-size: 16px;
            font-weight: 500;
            margin-right: 20px;
        }
    }

    .logo {
        @include _1160 {
            display: none;
        }
    }

    .menu-mobile {
        @include no-btn();
        display: none;
        padding: 10px;
        margin-right: -10px;

        @include _1160 {
            display: block;
            z-index: 99;
        }

        &.invert {
            filter: brightness(0) invert(1);
        }
    }

    .btn-wiki {
        @include _1160 {
            display: none;
        }
    }
}

.item-inner {
    position: relative;

    &:hover {
        ul.inner-menu {
            opacity: 1;
            pointer-events: all;
            transform: none;
        }
    }
}

ul.inner-menu {
    position: absolute;
    display: block;
    top: 90px;
    left: -20px;
    background-color: #000;
    padding: 10px 20px;
    min-width: 250px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: .1s;

    & > li {
        display: block;
        line-height: 36px;

        a {
            font-size: 16px;
        }
    }
}

.btn-wiki {
    background-color: #ea4033;
    border-radius: 10px;
    cursor: pointer;
    height: 60px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color .15s ease;

    &:hover {
        background-color: $color-primary-hover;
    }

    span {
        color: #ea4033;
        font-size: 16px;
        font-weight: 800;
        line-height: 1;
        text-shadow: -1px 0 #fff,0 1px #fff,1px 0 #fff,0 -1px #fff;
        text-transform: uppercase;
    }

    img {
        margin-left: 5px;
    }
}

.invert {

    .header__mobile,
    .btn-search {
        color: #fff
    }
}

.btn-search {
    @include no-btn();
    color: #fff;
    background-color: transparent;
    padding: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
    transition: color .2s;
    @include _1160 {
        color: $color-primary;
    }

    &.active {
        color: #000;
    }

    &:hover {
        color: $color-primary;
    }

    svg {
        fill: currentColor;
        height: 20px;
        width: 20px;
    }
}

.header-search {
    position: relative;

    &__form {
        position: absolute;
        right: 0;
        top: 3px;
        display: none;
    }

    &__input {
        background-color: #D6D5D5;
        border-radius: 7px;
        border: none;
        height: 34px;
        padding: 5px 15px;
        font-size: 16px;
        min-width: 360px;
        @include _1160 {
            min-width: 75vw;
        }

        &::placeholder {
            color: #4E4E4E;
        }
    }
}