<div class="hero">
    <div class="hero__main-img">
        <picture>
            <source srcset="img/hero-main-mob.jpg" media="(max-width: 768px)" />
            <img src="img/hero-main.jpg" alt="main" />
        </picture>
    </div>
    <div class="container">
        <div class="hero__inner">
            <div class="hero__aside">
                <div class="open-aside-mobile">
                    <img src="img/aside-arrow.svg" class="arrow" alt="">
                    <img src="img/aside-close.svg" class="close" alt="">
                </div>
                <div class="hero__aside-inner">
                    <a href="#">
                        <img src="img/logos/candela.png" alt="candela">
                    </a>
                    <a href="#">
                        <img src="img/logos/cutera.png" alt="cutera">
                    </a>
                    <a href="#">
                        <img src="img/logos/cynosure.png" alt="cynosure">
                    </a>
                    <a href="#">
                        <img src="img/logos/lutronic.png" alt="lutronic">
                    </a>
                    <a href="#">
                        <img src="img/logos/lumenis.png" alt="lumenis">
                    </a>
                    <a href="#">
                        <img src="img/logos/sciton.png" alt="sciton">
                    </a>
                    <a href="#">
                        <img src="img/logos/syneron.png" alt="syneron">
                    </a>
                    <a href="#">
                        <img src="img/logos/alma.png" alt="alma">
                    </a>
                    <a href="#">
                        <img src="img/logos/zeltiq.png" alt="zeltiq">
                    </a>
                    <a href="#">
                        <img src="img/logos/soltamedical.png" alt="soltamedical">
                    </a>
                </div>
            </div>

            <div class="hero__main">
                <div class="hero__title">
                    <span>Оригинальное</span><br>
                    косметологическое<br>
                    оборудование
                </div>
                <div class="hero__desc">
                    на дистрибьюторских условиях,<br>
                    только дешевле
                </div>
                <div class="hero__actions">
                    <a href="catalog.html" class="btn">В каталог</a>
                    <button class="btn btn--primary" data-fancybox="dialog" data-src="#dialog-popup">Запросить КП</button>
                </div>
            </div>
        </div>
    </div>
</div>