.hero {
    position: relative;
    height: 780px;
    @include _768 {
        height: 100vh;
        min-height: 550px;
    }

    .container {
        height: 100%;
    }

    &--search {
        height: auto;
        min-height: 780px;

        .hero__main {
            padding: 25px 0;
            @include _768 {
                padding: 62px 0;
            }
        }

        .hero__desc {
            color: #000;
            margin-bottom: 25px;

            a {
                color: #000;
                text-decoration: underline;
            }
        }

        .mse2-row {
            margin-bottom: 20px;

            a {
                color: #000;
                font-size: 18px;
                display: inline-block;
                margin-bottom: 7px;
                text-decoration: underline;
            }

            p {
                font-size: 16px;
            }
        }
    }

    &__inner {
        display: flex;
        position: relative;
        height: 100%;
        @include _768 {
            height: auto;
        }
    }

    &__main-img {
        position: absolute;
        height: 780px;
        right: 0;
        z-index: 0;
        width: calc((100vw - 1200px) / 2 + 1200px - 183px);
        @include _768 {
            height: 100vh;
            min-height: 550px;
            width: 100%;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    &__aside {
        padding: 15px 33px 15px 0;
        width: 175px;
        @include _768 {
            background-color: #fff;
            position: fixed;
            top: 0;
            bottom: 0;
            left: -80vw;
            width: 80vw;
            padding: 0;
            z-index: 999;
            transition: left .15s ease;

            &.open {
                left: -20px;
            }
        }

        &-inner {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            @include _768 {
                padding: 33px 0;
                overflow-y: auto;
                height: 100%;
            }

            a {
                display: inline-block;
                margin-bottom: 12px;
                transition: filter .15s;
                @include _768 {
                    margin-bottom: 30px;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }

                &:hover {
                    filter: grayscale(1);
                }
            }
        }

        .open-aside-mobile {
            display: none;
            @include _768 {
                background: #FFFFFF;
                border-radius: 0px 20px 20px 0px;
                display: block;
                position: absolute;
                top: 80px;
                left: 100%;
                height: 48px;
                width: 53px;
                display: flex;
                align-items: center;
                justify-content: center;

                &.open {

                    .close {
                        display: block;
                    }

                    .arrow {
                        display: none;
                    }
                }

                .close {
                    display: none;
                }

                .arrow {
                    display: block;
                }
            }
        }
    }

    &__main {
        flex: 1;
        padding-top: 250px;
        padding-left: 17px;
        @include _768 {
            padding-left: 0;
            padding-top: 30vh;
        }
    }

    &__title {
        color: #fff;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 15px;
        @include _768 {
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 12px;
        }

        span {
            color: $color-primary;
        }
    }

    &__desc {
        color:#fff;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 57px;

        br {
            @include _768 {
                display: none;
            }
        }
    }

    &__actions {
        @include _768 {
            display: flex;
        }
    }
}

.hero-info {
    background-color: rgba(255, 255, 255, 0.5);
    color: #585858;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    padding: 20px;
    text-transform: uppercase;

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: .4s linear;
    @include _768 {
        font-size: 16px;
        padding: 15px;
    }

    &.visible {
        opacity: 1;
        visibility: visible;
        transform: none;
    }
}