<div class="params">
    <div class="container">
        <div class="params__inner">
            <div class="params-col">
                <div class="params__head-1">Полная диагностика в&nbsp;NIST включает в себя</div>
                <div class="params__head-2"><span>25</span> параметров:</div>
                <div class="params__head-3">
                    <img src="img/license.svg" alt="license" loading="lazy" width="36" height="51">
                    <span>Лицензия № ФС-99-04-006974<br>от 25 февраля 2020</span>
                </div>
            </div>

            <div class="params-col params-col--column">
                <div class="params-item">
                    <span>1.</span> Контроль общего состояния и функционирования системы, визуальный контроль повреждений элементов корпуса, дисплея управления, кабелей электропитания 
                </div>
                <div class="params-item">
                    <span>2.</span> Контроль повреждений IPL, лазерных головок и оптических сканеров
                </div>
                <div class="params-item">
                    <span>3.</span> Анализ внутреннего протокола ошибок. Оценка причин возникновения
                </div>
            </div>

            <div class="params-col params-col--column">
                <div class="params-item">
                    <span>4.</span> Целевая диагностика модулей и систем аппарата для поиска и устранения возникающих проблем
                </div>
                <div class="params-item">
                    <span>5.</span> Контроль функционирования высоковольтного источника питания, интерфейсного модуля, модуля разряда накопительных конденсаторов, зиммера
                </div>
                <div class="params-item">
                    <span>6.</span> Контроль и калибровка системы управления зарядом накопительных конденсаторов 
                </div>
            </div>
        </div>

        <div class="params-hidden-content">
            <div class="params__inner">
                <div class="params-col params-col--column">
                    <div class="params-item">
                        <span>7.</span> Контроль высоковольтных конденсаторов на утечку 
                    </div>
                    <div class="params-item">
                        <span>8.</span> Контроль работы и регулирование при необходимости низковольтного источника питания компьютерного модуля
                    </div>
                    <div class="params-item">
                        <span>9.</span> Контроль работы сенсорного экрана, калибровка экрана при необходимости
                    </div>
                    <div class="params-item">
                        <span>10.</span> Контроль повреждений, загрязнений оптических элементов — квантронов, измерителей и системы доставки энергии
                    </div>
                    <div class="params-item">
                        <span>11.</span> Замена при необходимости на оригинальные компоненты. Обнуление счётчиков ресурсов
                    </div>
                    <div class="params-item">
                        <span>12.</span> Визуальная диагностика системы охлаждения на герметичность, промывка и заправка системы охлаждения
                    </div>
                    <div class="params-item">
                        <span>13.</span> Замена деионизирующего фильтра, фильтра тонкой очистки и воздушного фильтра
                    </div>
                </div>
    
                <div class="params-col params-col--column">
                    <div class="params-item">
                        <span>14.</span> Контроль работы датчиков потока и уровня воды, регулировка и профилактика датчика потока при необходимости
                    </div>
                    <div class="params-item">
                        <span>15.</span> Контроль работы термоэлектрической или иной системы охлаждения рабочих головок
                    </div>
                    <div class="params-item">
                        <span>16.</span> Калибровка встроенных измерителей энергии, IPL и лазерных головок
                    </div>
                    <div class="params-item">
                        <span>17.</span> Выходные тесты измерения энергии излучения IPL, лазерных головок и систем доставки в соответствии со спецификации производителя на сертифицированном оборудовании
                    </div>
                    <div class="params-item">
                        <span>18.</span> Документальное подтверждение проведенных работ
                    </div>
                    <div class="params-item">
                        <span>19.</span> Кастомизация установок пользователя. Контроль и регулировка системных часов, выбор языка, установка пресетов
                    </div>
                </div>
    
                <div class="params-col params-col--column">
                    <div class="params-item">
                        <span>20.</span> Составление рекомендаций по условиям эксплуатации оборудования на стороне клиента
                    </div>
                    <div class="params-item">
                        <span>21.</span> Дополнительная проверка того, что внешний вид аппарата находится в хорошем механическом и косметическом состоянии
                    </div>
                    <div class="params-item">
                        <span>22.</span> Запуск устройства минимум на 24 часа для окончательного тестирования после завершения всех ремонтно-регулировочных работ 
                    </div>
                    <div class="params-item">
                        <span>23.</span> Фото и видеофиксация аппарата и его комплектации
                    </div>
                    <div class="params-item">
                        <span>24.</span> Завершаем полную предпродажную подготовку - сливаем всю воду из устройства, очищаем его
                    </div>
                    <div class="params-item">
                        <span>25.</span> Надёжная упаковка аппарата для дальнейшей транспортировки
                    </div>
                </div>
            </div>
        </div>

        <div class="params__action">
            <button class="btn-param">
                <span>Подробнее</span>
                <img src="img/param-arrow.svg" alt="arrow" height="9" width="15">
            </button>
        </div>
    </div>
</div>