.procedure {
    margin-bottom: 100px;
    @include _768 {
        margin-bottom: 40px;
    }

    &__inner {
        position: relative;
        width: 100%;
    }

    h2 {
        margin-bottom: 40px;
    }
}

.js-procedure-prev,
.js-procedure-next {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
}

.js-procedure-prev {
    left: 0;
}

.js-procedure-next {
    right: 0;
}

.procedure-item {
    border-radius: 6px;
    background-color: #EFEFEF;
    padding: 22px 27px;
    position: relative;
    display: flex !important;
    height: 200px;
    margin: 0 30px;
    transition: background-color .2s;
    @include _768 {
        margin: 0 10px;
    }

    &:hover {
        background-color: #EA4033;

        .procedure-name {
            color: #fff;

            span {
                color: inherit;
            }
        }
    }

    &__img {
        position: absolute;
        right: 0;
        top: 0;
        max-width: 250px;
    }
}

.procedure-name {
    margin-top: auto;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;

    span {
        color: #EA4033;
    }
}