<div class="menu">
    <button class="close">
        <img src="img/close.svg" height="20" width="20" alt="close">
    </button>

    <div class="menu__inner">
        <a href="/" class="logo">
            <img src="img/logo.svg" alt="logo" width="117" height="28">
        </a>

        <nav class="menu__nav">
            <ul>
                <li><a href="/">Главная</a></li>
                <li>
                    <a href="catalog.html">Оборудование</a>
                </li>
                <li><a href="leasing.html">Лизинг</a></li>
                <li>
                    <div class="menu__row">
                        <a href="service.html">Сервисный центр</a>
                        <button class="btn-control btn-control--down js-submenu">
                            <img src="img/arrow-down.svg" loading="lazy" alt="arrow" width="12" height="6">
                        </button>
                    </div>
                    <ul class="menu__subnav">
                        <li><a href="#">Лизинг</a></li>
                        <li><a href="#">Лизинг</a></li>
                        <li><a href="#">Лизинг</a></li>
                    </ul>
                </li>
                <li><a href="about.html">О нас</a></li>
            </ul>
        </nav>

        <div class="menu__bottom">
            <a href="https://nist.pro/wiki/" class="btn-wiki">
                <span>Wiki</span>
                <img src="img/wiki-arrow.svg" alt="arrow">
            </a>

            <a href="cart.html" class="cart-action">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M8 22C8.55228 22 9 21.5523 9 21C9 20.4477 8.55228 20 8 20C7.44772 20 7 20.4477 7 21C7 21.5523 7.44772 22 8 22Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19 22C19.5523 22 20 21.5523 20 21C20 20.4477 19.5523 20 19 20C18.4477 20 18 20.4477 18 21C18 21.5523 18.4477 22 19 22Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M2.05078 2.0498H4.05078L6.71078 14.4698C6.80836 14.9247 7.06145 15.3313 7.42649 15.6197C7.79153 15.908 8.24569 16.0602 8.71078 16.0498H18.4908C18.946 16.0491 19.3873 15.8931 19.7418 15.6076C20.0964 15.3222 20.3429 14.9243 20.4408 14.4798L22.0908 7.0498H5.12078" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span class="cart-count">0</span>
            </a>
        </div>

        <a href="tel:+74951917198" class="menu__phone">+7 495 191-71-98</a>
    </div>
</div>

<div class="popup" id="dialog-popup">
    <img src="img/logo-popup.svg" alt="logo nist" loading="lazy" height="74" width="74">
    <h2 class="title">Оформление<br>заявки</h2>
    <p class="sub-title">
        Оставьте заявку, мы свяжемся с Вами<br>
        и ответим на все Ваши вопросы
    </p>
    <form action="">
        <div class="form-row">
            <label for="popup-name">Имя</label>
            <input id="popup-name" type="text" maxlength="50" placeholder="Имя">
        </div>
        <div class="form-row">
            <label for="popup-phone">Телефон</label>
            <input id="popup-phone" type="tel" placeholder="Телефон">
        </div>

        <button type="submit" class="btn btn--secondary">Оставить заявку</button>

        <p class="form-info">
            Нажимая на кнопку отправить, Вы соглашаетесь<br>
            с обработкой персональных данных
        </p>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js" integrity="sha512-jTgBq4+dMYh73dquskmUFEgMY5mptcbqSw2rmhOZZSJjZbD2wMt0H5nhqWtleVkyBEjmzid5nyERPSNBafG4GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://daruse.ru/assets/js/snowfall.js"></script>
<!-- <script src="js/libs.min.js"></script> -->
<script src="js/main.min.js"></script>
