.service-hero {
    position: relative;
    height: 710px;

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    &__inner {
        position: relative;
        padding-top: 230px;
    }

    &__title {
        color: #fff;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 16px;
        text-transform: uppercase;
        @include _768 {
            font-size: 30px;
            line-height: 36px;
            text-transform: none;
            margin-bottom: 40px;
        }
    }

    &__subhead {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 40px;
        @include _768 {
            color: #fff;
        }
    }

    &__action {
        @include _768 {
            .btn {
                width: 100%;
                &:first-child {
                    display: none;
                }
            }
        }
    }
}

.service-benefit {
    padding-top: 100px;
    margin-bottom: 100px;
    @include _768 {
        padding-top: 50px;
        margin-bottom: 50px;
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        flex: none;
        margin-right: 115px;
        @include _768 {
            display: none;
        }
    }

    &__stage {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 30px;
            border-left: 2px dashed $color-primary;
            height: 95%;
            z-index: -1;
            @include _768 {
                height: 90%;
            }
        }
    }

    &__item {
        display: flex;
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__img {
        flex: none;
        margin-right: 40px;
        @include _768 {
            margin-right: 15px;
            width: 60px;
        }
    }

    &__content {
        padding-top: 8px;
        max-width: 490px;

        p {
            font-size: 18px;
            line-height: 22px;
            @include _768 {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    &__name {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 7px;
        @include _768 {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
}

.service-safe {
    margin-bottom: 100px;
    @include _768 {
        margin-bottom: 50px;
    }

    &__inner {
        display: flex;
        @include _768 {
            flex-direction: column;
            margin: 0 -20px;
        }
    }

    &__img {
        flex: none;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    &__content {
        background-color: $color-primary;
        flex: 1;
        max-height: 316px;
        padding-left: 33px;
        padding-top: 30px;
        padding-bottom: 42px;
        padding-right: calc((100vw - 1200px) / 2);
        margin-right: calc((100vw - 1220px) / -2);
        @include _1260 {
            margin-right: 0;
            padding: 30px 25px 50px;
            max-height: max-content;
        }

        h2 {
            color: #fff;
            margin-bottom: 10px;
        }

        p {
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__action {
        margin-top: 30px;
        @include _768 {
            .btn {
                width: 100%;
            }
        }
    }
}

.service-med {
    margin-bottom: 100px;
    @include _768 {
        margin-bottom: 50px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        @include _768 {
            flex-direction: column;
            gap: 35px;
        }
    }

    &__item {
        padding-right: 50px;
        width: 50%;
        @include _768 {
            padding-right: 0;
            width: 100%;
        }

        p {
            margin-bottom: 15px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__title {
        margin-bottom: 15px;
        display: flex;

        .num {
            color: $color-primary;
            font-size: 75px;
            font-weight: 700;
            margin-right: 20px;
            line-height: 60px;
        }

        .text {
            font-size: 34px;
            font-weight: 700;
            @include _768 {
                font-size: 24px;
                font-weight: 600;
                line-height: 29px;
            }
        }
    }
}

.service-info {
    margin-bottom: 100px;
    @include _768 {
        margin-bottom: 50px;
    }

    h2 {
        margin-bottom: 40px;
    }

    &__brands {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-bottom: 35px;
        @include _768 {
            flex-wrap: wrap;
            gap: 20px;
        }
    }

    &__item {
        cursor: pointer;
        border: 2px solid transparent;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        position: relative;
        height: 85px;
        width: 17%;
        @include _768 {
            height: 56px;
            width: 45%;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 75%;
            will-change: transform;
        }

        &:hover {
            border-color: $color-primary;
        }

        .img {
            opacity: 1;
        }

        .hover-img {
            opacity: 0;
        }

        &.active {
            background-color: $color-primary;

            img {
                opacity: 0;
            }

            .hover-img {
                opacity: 1;
            }
        }
    }

    &__tab {
        border-bottom: 2px solid #000;
        display: flex;
        align-items: center;
    }

    &__title {
        color: $color-primary;
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        padding: 7px 32px;
        position: relative;
        @include _768 {
            font-size: 18px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            height: 8px;
            background-color: #ea4033;
            bottom: -5px;
            transform: translateX(-50%);
            @include _768 {
                height: 6px;
            }
        }
    }

    &__col {
        flex: 1;

        p {
            margin-bottom: 8px;
        }
    }

    &__content {
        padding: 50px 35px 0;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 15px;
        display: none;
        @include _768 {
            padding: 25px 0;
            font-size: 16px;
        }

        &.active {
            display: flex;
            gap: 30px;
            @include _768 {
                flex-direction: column;
                gap: 20px;
            }
        }
    }
}

.service-license {
    margin-bottom: 100px;
    @include _768 {
        margin-bottom: 50px;
    }

    &__inner {
        display: flex;
        @include _768 {
            flex-direction: column;
        }
    }

    &__head {
        flex: none;
        max-width: 390px;
        margin-right: 75px;
        @include _1260 {
            max-width: none;
            flex: 1 1;
        }
        @include _768 {
            max-width: max-content;
            margin-right: 0;
        }

        .desc {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            margin-bottom: 13px;
            @include _768 {
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                margin-bottom: 5px;
            }
        }

        .title {
            font-size: 34px;
            font-weight: 700;
            line-height: 42px;
            @include _768 {
                font-size: 24px;
                font-weight: 600;
                line-height: 29px;
                margin-bottom: 20px;
            }
        }
    }

    &__slider {
        position: relative;

        .btn-control {
            position: absolute;
            top: 40%;
            @include _768 {
                z-index: 10;
                top: 50%;
            }

            &--left {
                right: 0;
            }

            &--right {
                left: 0;
            }
        }
    }
}

.slider-license {
    margin: 0 40px;
    margin-bottom: 20px;
    width: 387px;
    @include _768 {
        width: 100%;
        margin: 0;
    }
}

.slider-license-nav {
    margin: 0 40px;
    width: 387px;
    @include _768 {
        display: none;
    }

    img {
        margin: 0 10px;
    }
}

.service-call {
    margin-bottom: 100px;
    @include _768 {
        margin-bottom: 40px;
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
        @include _768 {
            flex-direction: column;
        }
    }

    &__img {
        flex: none;
        margin-right: 40px;
        @include _768 {
            margin-right: 0;
            margin-bottom: 30px;
        }
    }

    &__content {

        p {
            margin-bottom: 15px;
            @include _768 {
                font-size: 16px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

.service-step {
    margin-bottom: 100px;
    @include _768 {
        margin-bottom: 50px;
    }

    &__inner {
        max-width: 1000px;
        margin: 0 auto;
    }

    &__content {
        margin-bottom: 30px;
        display: flex;
        gap: 61.5px;
        position: relative;
        @include _1260 {
            justify-content: space-between;
        }
        @include _768 {
            flex-direction: column;
            gap: 40px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            border: 1px dashed $color-primary;
            @include _768 {
                width: auto;
                height: 100%;
                top: 0;
                left: 50%;
            }
        }
    }

    &__item {
        position: relative;

        .circle {
            border-radius: 50%;
            height: 151px;
            width: 151px;
            background-color: $color-primary;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            @include _1260 {
                height: 120px;
                width: 120px;
            }
            @include _768 {
                margin: 0 auto;
                font-size: 14px;
            }
        }

        .num {
            color: $color-primary;
            font-size: 75px;
            font-weight: 700;
            position: absolute;
            top: -20px;
            left: 65%;
            text-shadow: 0 0 #fff;
            @include _1260 {
                font-size: 60px;
                right: 0;
                left: auto;
            }
            @include _768 {
                left: 60%;
                right: auto;
            }
        }
    }

    &__desc {
        text-align: center;
        @include _768 {
            text-align: left;
            font-size: 16px;
            line-height: 19px;

            br {
                display: none;
            }
        }
    }
}

.service-oborud {
    margin-bottom: 100px;
    @include _768 {
        margin-bottom: 50px;
    }

    &__inner {
        display: flex;
        max-height: 533px;
        @include _1260 {
            max-height: max-content;
        }
        @include _768 {
            flex-direction: column-reverse;
            margin: 0 -20px;
        }
    }

    &__img {

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    &__content {
        background-color: $color-primary;
        color: #fff;
        margin-left: calc((100vw - 1200px) / -2);
        padding-left: calc((100vw - 1200px) / 2);
        padding-right: 25px;
        padding-top: 32px;
        flex: 1;
        @include _1260 {
            margin-left: 0;
            padding: 30px 25px;
        }

        h2 {
            color: inherit;
            margin-bottom: 20px;
            @include _768 {
                br {
                    display: none;
                }
            }
        }

        p {
            margin-bottom: 15px;
            @include _768 {
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 10px;
            }
        }
    }
}

.service-not {
    margin-bottom: 100px;
    @include _768 {
        margin-bottom: 50px;
    }

    &__inner {
        display: flex;
        gap: 64px;
        @include _768 {
            flex-direction: column;
            gap: 25px;
        }
    }

    &__col {
        width: 50%;
        @include _768 {
            width: 100%;
        }

        h2 {
            margin-bottom: 42px;

            .color {
                color: $color-primary;
            }
        }
    }

    &__item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 33px;
        @include _768 {
            margin-bottom: 25px;
        }

        img {
            flex: none;
            margin-right: 10px;
        }
    }

    &__desc {
        margin-top: 54px;
        @include _768 {
            margin-top: 25px;
        }
    }
}

.service-brand-models {
    margin-bottom: 100px;
    @include _768 {
        margin-bottom: 50px;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        gap: 120px;
        @include _768 {
            gap: 25px;
        }
    }

    &__content {
        padding: 15px 0;
        flex: 1 1;
        @include _768 {
            padding: 0;
        }

        h2 {
            color: $color-primary;
            margin-bottom: 20px;
        }

        ul {
            font-size: 20px;
            font-weight: 500;
            padding-left: 25px;
            margin-bottom: 30px;
            @include _768 {
                font-size: 18px;
                margin-bottom: 20px;
            }

            li {
                margin-bottom: 25px;
                @include _768 {
                    margin-bottom: 18px;
                }

                &::marker {
                    color: $color-primary;
                    font-size: 26px;
                    font-weight: 700;
                    @include _768 {
                        font-size: 20px;
                    }
                }
            }
        }

        p {
            margin-bottom: 8px;
        }
    }
}

.service-brand-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    @include _768 {
        margin-bottom: 50px;
    }

    &__content {
        color: #fff;
        background-color: #ea4033;
        flex: 1;
        display: flex;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: calc((100vw - 1200px)/ 2);
        margin-right: calc((100vw - 1220px)/ -2);
        @include _768 {
            padding-left: 0;
            padding-right: 0;
            margin-right: -20px;
            margin-left: -20px;
        }

        ul {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 0;
            @include _768 {
                font-size: 16px;
                font-weight: 400;
            }

            li {
                margin-bottom: 12px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.service-brand-more {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    @include _768 {
        margin-bottom: 50px;
    }

    &__content {
        color: #fff;
        background-color: #000;
        flex: 1;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: calc((100vw - 1200px)/ 2);
        margin-right: calc((100vw - 1220px)/ -2);
        @include _768 {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 0;
            margin-right: -20px;
            margin-left: -20px;
        }

        h2 {
            color: $color-primary;
            margin-bottom: 5px;
        }

        ul {
            font-size: 16px;
            font-weight: 500;
            padding-left: 21px;
            margin-bottom: 0;

            li {
                margin-bottom: 12px;

                &:last-of-type {
                    margin-bottom: 0;
                }

                &::marker {
                    color: $color-primary;
                }
            }
        }
    }
}

.laser-service {
    margin-bottom: 100px;
    @include _768 {
        margin-bottom: 50px;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;

        img {
            margin: 0 100px;
            @include _768 {
                margin: 0 auto 20px;
            }
        }
    }

    &__content {
        padding: 15px 0;
        display: flex;
        flex: 1 1;
        flex-direction: column;
        justify-content: space-between;

        p {
            @include _768 {
                margin-bottom: 15px;
            }
        }
    }

    &__actions {
        display: flex;
        gap: 12px;

        .link {
            color: #000;
        }
    }
}

.service-rashod {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    @include _768 {
        margin-bottom: 50px;
    }

    &__content {
        background-color: #000;
        color: #fff;
        flex: 1 1;
        font-size: 18px;
        font-weight: 500;
        margin-left: calc((100vw - 1200px)/ -2);
        padding-left: calc((100vw - 1200px)/ 2);
        padding-right: 50px;
        padding-top: 55px;
        @include _768 {
            margin: 0 -20px;
            padding: 30px 20px;
        }

        .highlight {
            display: block;
            color: $color-primary;
            font-size: 34px;
            font-weight: 700;
            line-height: 1;
        }
    }
}

.service-brand-info {
    margin-bottom: 100px;
    display: flex;
    gap: 50px;
    @include _768 {
        margin-bottom: 50px;
        flex-direction: column;
    }

    &__content {
        flex: 1;
    }

    &__slider {
        position: relative;
        flex: 1;
        width: 45%;
        @include _768 {
            width: 100%;
        }

        .btn-control {
            position: absolute;
            top: 35%;

            &.js-brand-prev {
                left: 0;
            }

            &.js-brand-next {
                right: 0;
            }
        }
    }

    .slider-brand {
        margin: 0 45px 25px;
    }

    .slider-brand-nav {

        img {
            margin: 0 10px;
        }
    }
}