<div class="wiki wiki--card">
    <div class="container">
        <h2 class="select">Блог WIKI</h2>
        <div class="wiki__list">
            <div class="wiki-item">
                <div class="wiki-item__badge">
                    <img src="img/wiki/wiki-logo.svg" alt="">
                    <div class="wiki-item__date">
                        <div class="name">Wiki</div>
                        <div class="date">06.07.2022</div>
                    </div>
                </div>
                <div class="wiki-item__tit">
                    CO2RE - Многофункциональный лазерный аппарат фракционного воздействия
                </div>
                <div class="wiki-item__text">
                    Современный лазерный аппарат CO2RE представляет собой универсальную платформу для оздоровления кожи. Данная система базируется на платформе лазера CO2. Модель оснащен ультрасовременным сканером, что обеспечивает ему гибкость…
                </div>
                <a href="https://nist.pro/wiki/" class="wiki-item__link">Подробнее</a>
            </div>

            <div class="wiki-item">
                <div class="wiki-item__badge">
                    <img src="img/wiki/wiki-logo.svg" alt="">
                    <div class="wiki-item__date">
                        <div class="name">Wiki</div>
                        <div class="date">05.07.2022</div>
                    </div>
                </div>
                <div class="wiki-item__tit">
                    CO2RE Intima - здоровье женщин
                </div>
                <div class="wiki-item__text">
                    CO2RE Intima — современный универсальный аппарат, предлагающий широкий спектр процедур шлифовки кожи без…
                </div>
                <a href="https://nist.pro/wiki/" class="wiki-item__link">Подробнее</a>
            </div>

            <div class="wiki-item">
                <div class="wiki-item__badge">
                    <img src="img/wiki/wiki-logo.svg" alt="">
                    <div class="wiki-item__date">
                        <div class="name">Wiki</div>
                        <div class="date">05.07.2022</div>
                    </div>
                </div>
                <div class="wiki-item__tit">
                    VBeam Perfecta: передовое решение для лечения сосудистых поражений кожи
                </div>
                <div class="wiki-item__text">
                    Данный аппарат пользуется огромной популярностью и находит широкое применение в лучших косметологических клиниках.…
                </div>
                <a href="https://nist.pro/wiki/" class="wiki-item__link">Подробнее</a>
            </div>
        </div>
        <div class="wiki__action">
            <a href="https://nist.pro/wiki/" class="btn btn--primary">Больше статей WIKI</a>
        </div>
    </div>
</div>